@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;

}
html{
  background:#F8EFBA;
  text-align: center;
}
.container{
  box-sizing: border-box;
  line-height: 15 px;
}
h1{
  font-size: 50px;
  margin-top: 25px;
}
#task{
  margin-top: 50px;
}
.input{
  font-size: 17px;
  color: #2f3640;
  font-weight: 700;
  font-family: 'Otomanopee One', sans-serif;
}
#entry{
  height:30px;
  width:150px;
  font-size: 17px;
  font-family: 'Otomanopee One', sans-serif;
  background-color: #F97F51;
  margin: 30px;
}
table{
border-collapse: collapse;
width: 50%;
margin: 50px auto;
background-color: #EAB543;
}
table th,td{
  border: 2px solid black;
  padding:5px;
}
th{
   font-size: 17px;
  color:black;
  font-weight: 700;
  font-family: font-family: 'Oswald', sans-serif;
}
td{
  font-size: 13px;
  color:black;
  font-weight: 500;
  font-family: font-family: 'Oswald', sans-serif;
}
.back2task{
  text-decoration: none;
  height:30px;
  width:200px;
  font-size: 17px;
  font-family: 'Otomanopee One', sans-serif;
  background-color: #F97F51;
  margin: 30px;
}
.back2task a{
  color: black;
  text-decoration: none;
}
